@charset "UTF-8";
  
/* ここから下がハンバーガーメニューに関するCSS */
    
  /* チェックボックスを非表示にする */
  .drawer_hidden {
    display: none;
  }
  
  /* ハンバーガーアイコンの設置スペース */
  .drawer_open {
    display: flex;
    height: 10px;
    width: 1800px;
    justify-content: right;
    align-items: center;
    position: relative;
    z-index: 100;/* 重なり順を一番上にする */
    cursor: pointer;
  }
  
  /* ハンバーガーメニューのアイコン */
  .drawer_open span,
  .drawer_open span:before,
  .drawer_open span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background: #333;
    transition: 0.5s;
    position: absolute;
  }
  
  /* 三本線の一番上の棒の位置調整 */
  .drawer_open span:before {
    bottom: 8px;
  }
  
  /* 三本線の一番下の棒の位置調整 */
  .drawer_open span:after {
    top: 8px;
  }
  
  /* アイコンがクリックされたら真ん中の線を透明にする */
  #drawer_input:checked ~ .drawer_open span {
    background: rgba(255, 255, 255, 0);
  }
  
  /* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
  #drawer_input:checked ~ .drawer_open span::before {
    bottom: 0;
    transform: rotate(45deg);
  }
  
  #drawer_input:checked ~ .drawer_open span::after {
    top: 0;
    transform: rotate(-45deg);
  }
    
  /* メニューのデザイン*/
  .nav_content {
    width: 30%;
    height: 100%;
    position: fixed;
    top: 0%;
    right: -30%; /* メニューを画面の外に飛ばす */
    z-index: 99;
    background: rgb(206, 203, 184);
    transition: .5s;
    text-align: center;
    padding-top: 20px;
  }
  
  
  /* メニュー黒ポチを消す */
  .nav_list {
    list-style: none;
  }
  
  /* アイコンがクリックされたらメニューを表示 */
  #drawer_input:checked ~ .nav_content {
    right: 0;/* メニューを画面に入れる */
  }


/*========= レイアウトのためのCSS ===============*/

h1{
  font: size 2.0px;;
}

h2{
  font: size 2em;
  text-align: center;
  margin: 30px;
}


small{
  color:#fff;
  display: block;
  text-align: center;
}

#header{
  width:100%;
  background-image: url(../images/iwatesan.jpg);
  background-position: center;
  color:rgb(74, 73, 73);
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
  padding: 40px;
}

nav{
  margin-top: 10px;
  text-align: center;
  background-color: #f3f3f3;
}

section{
 padding: 100px 30px;
}

section:nth-child(2n){
  background:#f3f3f3; 
}

ul {
  display: grid;
  gap: 26px;
  grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
  text-align: center;
}

/* ----- 魅力ページ ----- */
article {
  width: 74%;
  margin-left: 50px;
}

aside {
  width: 22%;
  margin-right: 50px;
}

.contents {
  display: flex;
  justify-content:space-between;
  margin-bottom: 50px;
}

/* ----- ライターページ -----*/

/*　---- フッター ---- */
#footer{
  margin-top: 10px;
  background:#333;
  padding:20px;
}